
<div class="card">
  <div class="card-header" id="heading<%=num%>">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse<%=num%>" aria-expanded="false" aria-controls="collapse<%=num%>">
        <%= typeR %> <%= requests.count %>
      </button>
    </h5>
  </div>
  <div id="collapse<%=num%>" class="collapse" aria-labelledby="heading<%=num%>" data-parent="#accordionExample">
    <div class="card-body">
      <% cpp = 6%>
      <% count = 1 %>
      <% requests.each_slice(cpp).to_a.each do |request_slice|%>
        <% if count % cpp == 1 %>
          <div class="content<%=num%>">
        <% end %>
        <div class='pending-homepage row'>
          <% request_slice.each do |request| %>
            <div class='homepage-block col-md-3'>
              <h4>
                JACK BLACK
              </h4>
              <p>
                <span class="pending-details">Date Needed:</span> <%= request.date %>
              </p>
              <p>
                <span class="pending-details">Additional comments</span> <%= truncate request.additional_comments, length: 42 %>
              </p>
              <div class='row'>
                <div class='col-md-6 column'>
                  <%= link_to 'Review', edit_request_path(request), class: 'btn btn-success btn-block' %>
                </div>
              </div>
            </div>
            <% count = count + 1 %>
          <% end %>
        </div>
        <% if count % cpp == 1 %>
          </div>
        <% end %>
      <% end %>

      <article id="pagin<%=num%>" class="pagin">
        <nav aria-label="Page navigation example">
          <ul class="pagination  justify-content-center">
            <li class="page-item"><a class="page-link prev" href="#"><span>&laquo;</span></a></li>
            <li class="page-item"><a class="page-link num" href="#">1</a></li>
            <% count = 1%>
            <% while count <= (requests.length/cpp).ceil %>
              <li class="page-item"><a class="page-link num" href="#"><%=count+1%></a></li>
              <% count = count + 1 %>
            <% end %>
            <li class="page-item"><a class="page-link next" href="#"><span >&raquo;</span></a></li>
          </ul>
        </nav>
      </article>
    </div>
  </div>
</div>
