<p id="notice"><%= notice %></p>

<p>
  <strong>Emergency:</strong>
  <%= @request.emergency %>
</p>

<p>
  <strong>Additional comments:</strong>
  <%= @request.additional_comments %>
</p>

<p>
  <strong>Status:</strong>
  <%= @request.status %>
</p>

<p>
  <strong>Date:</strong>
  <%= @request.date %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
