<%= form_with(model: request_form, local: true) do |form| %>
  <% if request_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request_form.errors.count, "error") %> prohibited this request_form from being saved:</h2>

      <ul>
      <% request_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :emergency %>
    <%= form.text_area :emergency %>
  </div>

  <div class="field">
    <%= form.label :additional_comments %>
    <%= form.text_area :additional_comments %>
  </div>

  <ul>
    <%= form.fields_for :carts do|cart_form|%>
      <li>
        <%= cart_form.label :chemical %>
        <%= cart_form.text_field :chemical %>
        <%= cart_form.label :count %>
        <%= cart_form.number_field :count %>
      </li>
    <% end %>
  </ul>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
