<p id="notice"><%= notice %></p>

<h1>Request Forms</h1>

<table>
  <thead>
    <tr>
      <th>Emergency</th>
      <th>Additional comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @request_forms.each do |request_form| %>
      <tr>
        <td><%= request_form.emergency %></td>
        <td><%= request_form.additional_comments %></td>
        <td><%= link_to 'Show', request_form %></td>
        <td><%= link_to 'Edit', edit_request_form_path(request_form) %></td>
        <td><%= link_to 'Destroy', request_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request Form', new_request_form_path %>
